* {
    margin: 10px;
    padding: 0px;
    top: 10px;
    ;
}

body {
    font-family: sans-serif;
    background-color: #a9d7d1;
    text-align: center;
}

.register {
    background-color: white;
    width: 500px;
    height: 800px;
    border-radius: 10px;
    display: inline-table;
    position: fixed;
    padding: 40px 10px;
    box-sizing: border-box;
    transform: translate(50%);
    left: 23%;
    top: 10%;
}

ul {
    list-style: none;
}